<div class="bottom-menu">
    <a id="games-view" data-ui-sref-active="active" data-ng-click="navigateTo('home.join')" class="col-sm-4">
        <img class="games-icon" src="assets/icons/games.png" alt="games view icon" />
        <div class="menu-title">Games</div>
    </a>
    <a id="dashboard-view" data-ui-sref-active="active" data-ng-click="navigateTo('home.dashboard')" class="col-sm-4 active">
        <img class="dashboard-icon" src="assets/icons/dashboard.png" alt="dashboard view icon" />
        <div class="menu-title">Dashboard</div>
    </a>
    <a id="settings-view" data-ui-sref-active="active" data-ng-click="navigateTo('home.dashboard.settings')" class="col-sm-4">
        <img class="settings-icon" src="assets/icons/settings.png" alt="settings view icon" />
        <div class="menu-title">Settings</div>
    </a>
</div>