<div class="bottom-menu">
    <a id="card-view" data-ui-sref-active="active" data-ng-click="navigateTo('game.play')" class="col-sm-4">
        <img class="games-icon" src="assets/icons/games.png" alt="games view icon" />
        <div class="menu-title">Cards</div>
    </a>
    <a id="list-view" data-ui-sref-active="active" data-ng-click="navigateTo('game.play.submissions')" class="col-sm-4 active">
        <img class="dashboard-icon" src="assets/icons/dashboard.png" alt="dashboard view icon" />
        <div class="menu-title">Submissions</div>
    </a>
    <a id="list-view" data-ui-sref-active="active" data-ng-click="navigateTo('home.dashboard')" class="col-sm-4 active">
        <img class="dashboard-icon" src="assets/icons/dashboard.png" alt="dashboard view icon" />
        <div class="menu-title">Dashboard</div>
    </a>
</div>
