<style>
    input-input input {
       border: 1px solid #777;
    }
</style>
<div class="container">
    <h3 class="title">The Bigger <br>Blacker<br>App</h3>
    <div id="active-games" class="container">
        <div class="input-item">
            <input id="game-name" data-ng-model="game.name" type="text" class="form-control" placeholder="Game Name" />
        </div>
        <div class="input-item styled-select">
            <select id="gameRating" name="rating" placeholder="Enter Rating" data-ng-model="game.rating">
                <option value="G">G</option>
                    <option value="PG">PG</option>
                    <option value="PG-13">PG-13</option>
                    <option value="R">R</option>
                    <option value="XXX">Nobody Should Be Playing This!</option>
            </select>
        </div>
        <div class="input-item">
            <input id="max-players" data-ng-model="game.maxPlayers" type="number" class="form-control" placeholder="Max Number of Players">
        </div>
        <div class="input-item">
            <input id="max-points" data-ng-model="game.maxPoints" type="number" class="form-control" placeholder="Max Number of Points">
        </div>
        <div data-ng-click="saveGame( game )" class="save-game primary-button">Save Game</div>
        <div data-ng-click="goBack();" class="primary-button">Cancel</div>
        <div class="disclaimer">
            <div class="warning"></div>
            <div class="message">Good humor is good humor and if your not a fan of the content in this game, we invite you to promptly uninstall this app along with the stick up your ass.</br> </br>The creators of this game accept no responsibility for its use or audience. By creating a game you agree to all <a href="#">terms an conditions</a> set forth by this app.</div>
        </div>
    </div>
</div>