<div class="container">
    <div id="profile">
        <div class="profile-halo"><img class="profile-pic" src="http://pickaface.net/includes/themes/clean/img/slide2.png" alt=""></div>
        <div class="profile-info">
            <div id="username">Username: {{ user.username }}</div>
            <div id="gameId">Current Game: {{ user.data.activeGame }}</div>
        </div>
        <div id="editProfileBttn" class="primary-button-small" data-ui-sref="home.dashboard.edit">Edit Profile</div>
    </div>
    <div id="profileContent">
        <div id="friendList">
            <ul id="onlinePlayers">
                <div class="list-header">Current Online Players</div>
                <li class="list-online-players" data-ng-repeat="user in users" data-ng-show="user.active">{{user.username}}</li>
            </ul>
        </div>
    </div>
    <div id="resumeGame" class="primary-button" data-ng-click="resumeGame()">Resume Game</button>
    <div data-ui-view="bottom-nav"></div>
</div>
