<h2 class="user-game-state" data-ng-show="isCzar()"><span class="username">{{ user.username }}</span> you are the czar</h2>
<h2 class="user-game-state" data-ng-show="!isCzar()"><span class="username">{{ user.username }}</span> you are a player</h2>
<ul class="czar-card">
	<!-- Test isCzar {{ cardList }} -->
    <li class="card-id">{{ czarCard.id }}</li>
    <li class="card-numAnswers">{{ czarCard.numAnswers }}</li>
    <li class="card-text">{{ czarCard.text }}</li>
    <li class="card-expansion">{{ czarCard.expansion }}</li>
</ul>
<table class="Submissions">
    <thead>
        <tr>	
            <td>Card</td>
        </tr>
    </tgead>
    <tbody>
        <tr class="submission" data-ng-repeat="name in submissions">
            <td class="submission" data-ng-repeat="submission in name" data-ng-click="chooseWinner( submission )">
                <div style="display:none; visibility:hidden;" class="name-username">{{ submission.username }}</div>
                <div class="name-card" data-ng-class="">{{ submission.card.text }}</div>
            </td>
            <!-- <td class="submission-user">{{ submission.username }}</td> -->
            <!-- <td class="submission-card">{{ submission.card.text }}</td> -->
        </tr>
    </tbody>
</table>
<table data-ng-show="!isCzar()" class="game-list">
    <thead>
        <tr>
            <td>Card ID</td>
            <td>No. Of Answers</td>
            <td>Text</td>
            <td>Expansion</td>
            <td>Submission</td>
        </tr>
    </tgead>
    <tbody>
        <tr class="player-card card" player="!isCzar()"
            data-ng-class='{active:$first}' 
            data-ng-repeat="card in player.cards track by $index" 
            data-ng-swipe-right="card.prev($index);" 
            data-ng-swipe-left="card.next($index);">

<!--
    CZAR SCREEN TEMPLATE
-->


<div data-ng-show="!isCzar()" id="player">
    <ul class="white-cards">
        <li class="card white" data-ng-class='{active:$first}'  data-ng-repeat="card in player.cards">
            <!-- Test !isCzar {{ cardList }} -->
            <div class="card-id card-num">{{ card.id }}</div>
            <div class="card-text value">{{ card.text }}</div>
            <div class="card-expansion expansion">{{ card.expansion }}</div>
            <div class="submit-button"><button data-ng-click="" data-ng-disabled="totalSubmissions >= numOfAnswers" class="submit">Submit</button></div>
        </li>
    </ul>
</div>
<div class="primary-button" data-ng-click="leaveGame( game )">Leave Game</div>
<div id="status-message"></div>




<!--
    PLAYER SCREEN TEMPLATE
-->


<!-- <div id="player">
    <ul player class="white-cards">
    </ul>
</div>
<div class="primary-button">Leave Game</div>
<div id="status-message"></div>
 -->
